@model Web.TheModelWithEverything

@{
    ViewData["Title"] = "Home Page";
    var bootstrap = Html.Bootstrap();
}

@Html.RenderAlerts()

<h1 class="display-4">Welcome</h1>
<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

@using (Html.BeginForm())
{
    @bootstrap.TextBoxFor(m => m.Name, labelHtmlAttributes: new Dictionary<string, object> { { "data-item", "data" } })
    @bootstrap.TextAreaFor(m => m.ClassWithMoreStuff.Var1, 5, 10)
    @bootstrap.PasswordFor(m => m.Password)
    @bootstrap.DatePickerFor(m => m.Birthday)
    @bootstrap.YesNoFor(m => m.CanYouEven)
    @bootstrap.CheckboxFor(m => m.CanYouEvenAgain)
    @bootstrap.EnumDropDownListFor(m => m.SelectEnumQ, new Dictionary<string, object> { { "data-toggle", "toggle" } })
    @bootstrap.NullableEnumDropDownListFor(m => m.SelectEnumNullableQ)
    <button class="btn btn-primary" type="submit">Submit</button>
}
