@model Web.TheModelWithEverything

@{
    ViewData["Title"] = "Home Page";
    var bootstrap = Html.Bootstrap();
}

@Html.RenderAlerts()

<h1 class="display-4">Welcome</h1>
<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

@using (Html.BeginForm())
{
    @bootstrap.TextBoxFor(m => m.Name, labelHtmlAttributes: new Dictionary<string, object> { { "data-item", "data" } })
    @bootstrap.TextAreaFor(m => m.ClassWithMoreStuff.Var1, 5, 10)
    @bootstrap.PasswordFor(m => m.Password)
    @bootstrap.DatePickerFor(m => m.Birthday)
    @bootstrap.YesNoFor(m => m.CanYouEven)
    @bootstrap.YesNoFor(m => m.NotNullableYesNo)
    @bootstrap.CheckboxFor(m => m.CanYouEvenAgain)
    @bootstrap.EnumDropDownListFor(m => m.SelectEnumQ, new Dictionary<string, object> { { "data-toggle", "toggle" } })
    @bootstrap.NullableEnumDropDownListFor(m => m.SelectEnumNullableQ, emptyFirstValueText: "Choose...")
    @bootstrap.NullableEnumDropDownListFor(m => m.SelectEnumNullInitialValue, emptyFirstValueText: "Choose...")
    @bootstrap.CheckboxGroupFor(m => m.OptionsList, selectedItems: Model.OptionsList?.Select(o => ((int)o).ToString()).ToArray(), containerHtmlAttributes: new { @class = "form-container" })
    <button class="btn btn-primary mb-3" type="submit">Submit</button>
}

<h2 class="mt-3">Pagination Example</h2>
<p>Current page retrieved from query parameters. Total pages: 10</p>
@BsPagination.Paginate(Model.CurrentPage, 10, page => Url.Action("Index", "Home", new { page })!)